* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  min-width: 375px;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
